__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.env
.env
.venv/
venv/
env/
build/
dist/
.eggs/
*.egg-info/
*.egg
.DS_Store
.git/
.gitignore
.idea/
.vscode/
*.tar.gz
*.zip
*.coverage
.coverage.*
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/
node_modules/
npm-debug.log
docker-compose.override.yml